<title>Food Order Online in Pune</title>
<meta name="description"
	content="Order Fast Food online with a few clicks and avail some amazing discounts at Pune, Yaradadhaba" />
<meta property="og:description"
	content="Order Fast Food online with a few clicks and avail some amazing discounts at Pune, Yaradadhaba" />

<script src="js/jquery-sticky-div.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/main.js"></script>
<!--
    Header start 
	============================== -->
<nav id="navigation">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<nav class="navbar navbar-default">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed"
								data-toggle="collapse"
								data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>
							<a class="navbar-brand" ui-sref="app"> <img
								src="images/logo.png" alt="Logo">
							</a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse"
							id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right" id="top-nav">
								<li class="active"><a href="#" ui-sref="app"><i
										class="fa fa-home"></i> Home</a></li>
								<li><a ui-sref="app.menu" href=""><i
										class="fa fa-shopping-cart "></i> order-online</a></li>
							</ul>
						</div>
						<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
</nav>
</div>
</div>
<!-- .col-md-12 close -->
</div>
<!-- .row close -->
</div>
<!-- .container close -->
</nav>
<!-- header close -->
<section id="price" ng-controller="MenuController">
	<div class="container" ng-controller="CartController">
		<div class="row " style="padding-top: 5em">
			<div class="col-md-12">
				<div class="block" style="margin-top: -200px">
					<div class="pricing-list">
						<div class="row">
							<div class="col-xs-12 col-md-8">
								<div class="border-menu">
									<ul>
										<li style="padding-left: 1em; padding-right: 1em"
											class="wow fadeInUp" data-wow-duration="300ms"
											data-wow-delay="300ms">
											<div class="item">
												<div style="height: 40px" class="item-title">
													<h4 style="font-weight: bold">DELIVERY DETAILS</h4>
													<div class="border-bottom"></div>
												</div>
												<div class="row">
													<div class="col-xs-12"
														style="border-right: 1px solid black; padding-right: 1em">
														<form>
															<div class="row">
																<div class="col-md-12">
																	<div class="block">
																		<div class="row">
																			<h3 class="title wow fadeInLeft col-md-8"
																				style="padding-left: 20px" data-wow-duration="500ms"
																				data-wow-delay="300ms">
																				Continue <span>As Guest</span>
																			</h3>
																			<h3 class="title wow fadeInLeft col-md-4"
																				data-wow-duration="500ms" data-wow-delay="300ms"
																				onclick="javascript:alert('clicked')"
																				style="cursor: pointer; cursor: hand">
																				Already <span>Registered</span>
																			</h3>
																		</div>
																		<form name="checkOutForm" ng-submit="loginSubmit()"
																			method='POST'>
																			<div class="form-group wow fadeInDown"
																				data-wow-duration="500ms" data-wow-delay="600ms">
																				<input type="text" class="form-control"
																					id="exampleInputEmail1" placeholder="Name"
																					required="required">
																			</div>
																			<div class="form-group wow fadeInDown"
																				data-wow-duration="500ms" data-wow-delay="800ms">
																				<input type="email" class="form-control"
																					placeholder="Email Address" required="required">
																			</div>
																			<div class="form-group wow fadeInDown"
																				data-wow-duration="500ms" data-wow-delay="800ms">
																				<input type="tel" pattern='\d{2}\d{4}\d{4}'
																					class="form-control" placeholder="Phone"
																					required="required">
																			</div>
																			<div class="form-group wow fadeInDown"
																				data-wow-duration="500ms" data-wow-delay="1000ms">
																				<textarea class="form-control" rows="3"
																					placeholder="Address" required="required"></textarea>
																			</div>
																			<div class="form-group wow fadeInDown"
																				data-wow-duration="500ms" data-wow-delay="800ms">
																				<input type="text" class="form-control"
																					placeholder="Area" value="WAKAD"
																					readonly="readonly">
																			</div>
																			<div class="form-group wow fadeInDown"
																				data-wow-duration="500ms" data-wow-delay="800ms">
																				<input type="text" class="form-control"
																					placeholder="City" value="PUNE" readonly="readonly">
																			</div>
																			<div class="form-group wow fadeInDown"
																				data-wow-duration="500ms" data-wow-delay="1000ms">
																				<textarea class="form-control" rows="3"
																					placeholder="Comments"></textarea>
																			</div>
																			<div>
																				<input class="buttonCheckOut" style="width: 100%"
																					name="submit" type="submit" value="CONTINUE" />
																			</div>
																		</form>
																	</div>
																</div>
															</div>
														</form>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="hidden-xs hidden-sm col-md-4">
								<div id="sticky-anchor_category"></div>
								<div class="info border-menu" id="sticky_category"
									style="width: 335px">
									<form name="cart">
										<div class="cartScrollbar" id="sticky_category">
											<ul style="font-size: medium;">
												<li style="padding: 0.5em;" ng-repeat="item in cartArray">
													<div class="row">
														<div class="col-xs-6">{{item.name}}</div>
														<div class="col-xs-3">{{item.quantity}}</div>
														<div lass="col-xs-3">
															<i class="fa fa-inr"></i> {{item.price * item.quantity}}
														</div>
													</div>
												</li>
											</ul>
										</div>
										<span
											style="padding-left: 1em; font-size: medium; font-weight: bold;">
											Total <span style="float: right; padding-right: 1em"
											ng-init="total"> <i style="margin-left: .5em"
												class="fa fa-inr"></i> {{total}}

										</span>
										</span> <br /> <span
											style="padding-left: 1em; font-size: medium; font-weight: bold;"
											ng-init="deliveryCharges"> Delivery <span
											style="float: right; padding-right: 1em"> <i
												style="margin-left: .5em" class="fa fa-inr"></i>
												{{deliveryCharges}}

										</span>
										</span> 
										<a ui-sref="app.menu" style="color: #000">
											<div class="buttonCheckOut">
												<span style="padding-left: 1em"> BACK TO MENU </span>
												<div
													style="float: right; padding-right: 1em; margin-top: 1em">
													<i class="fa fa-arrow-left"></i>
												</div>
											</div>
										</a>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<nav id="navigation" class="navbar navbar-fixed-bottom">
				<div class="container">
					<div class="row hidden-md hidden-lg">
						<div class="col-sm-12">
							<div style="padding-top: 1em">
								<div class="row"
									style="color: #000; background-color: gray; height: 50px; line-height: 50px; vertical-align: middle; font-weight: bold;">
									<div class="hidden-lg col-xs-5" ng-init="total"
										ng-init="deliveryCharges">
										Total <i class="fa fa-inr"></i> {{total}} <i
											class="fa fa-truck" style="padding-left: 1em"></i> <i
											class="fa fa-inr"></i> {{deliveryCharges}}

									</div>
									<div class="hidden-lg col-xs-2"></div>
									<div class="hidden-lg col-xs-5">
										<span style="float: right; padding-right: 1em"
											ng-init="totalItems"> <i data-toggle="modal"
											data-target="#myModal" class="fa fa-shopping-cart ">
												{{totalItems}}</i> <span style="padding-left: 2em" /> <i
											class="fa fa-sign-out"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="vertical-alignment-helper">
				<div class="modal-dialog vertical-align-center">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

							</button>
							<h4 class="modal-title" id="myModalLabel">
								<i class="fa fa-shopping-cart "></i> Cart
							</h4>

						</div>
						<div class="modal-body">
							<div class="info border-menu" id="sticky_cart"
								style="width: inherit">
								<form name="cart">
									<div style="overflow-y: scroll; max-height: 90px;"
										id="sticky_category" ng-init="cartErrorMessage">
										<span style="width: inherit"><h4
												style="color: RED; font-weight: bold; text-align: center">{{cartErrorMessage}}</h4></span>
										<ul style="font-size: medium;">
											<li style="padding: 0.5em;" ng-repeat="item in cartArray">
												<div class="row">
													<div class="col-xs-5">{{item.name}}</div>
													<div class="col-xs-4">{{item.quantity}}</div>
													<div lass="col-xs-3">
														<i class="fa fa-inr"></i> {{item.price * item.quantity}}
													</div>
												</div>
											</li>
										</ul>
									</div>
									<span
										style="padding-left: 1em; font-size: medium; font-weight: bold;">
										Total <span style="float: right; padding-right: 1em"
										ng-init="total"> <i style="margin-left: .5em"
											class="fa fa-inr"></i> {{total}}

									</span>
									</span> <br /> <span
										style="padding-left: 1em; font-size: medium; font-weight: bold;"
										ng-init="deliveryCharges"> Delivery <span
										style="float: right; padding-right: 1em"> <i
											style="margin-left: .5em" class="fa fa-inr"></i>
											{{deliveryCharges}}

									</span>
									</span> </span>
								</form>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>