<title>Order Online Late Night Food in Pune - Yaradadhaba</title>
<meta name="description="
	content="Yaradadhaba, Pune delivers North Indian, and Fast Food all night long at extremely affordable prices. Order now at our website or call">
<meta property="og:description"
	content="Yaradadhaba, Pune delivers North Indian, and Fast Food all night long at extremely affordable prices. Order now at our website or call" />

<script src="js/jquery.sticky.js"></script>
<script src="js/main.js"></script>
<!--
    Header start 
	============================== -->
<nav id="navigation">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<nav class="navbar navbar-default">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed"
								data-toggle="collapse"
								data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>
							<a class="navbar-brand" ui-sref="app"> <img
								src="images/logo.png" alt="Logo">
							</a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse"
							id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right" id="top-nav">
								<li class="active"><a href="#hero-area"><i
										class="fa fa-home"></i> Home</a></li>
								<li><a ui-sref="app.menu" href=""><i
										class="fa fa-shopping-cart "></i> order-online</a></li>
								<li><a href="#about-us"><i class="fa fa-user"></i>
										about us</a></li>
								<li><a href="#blog"><i class="fa fa-cutlery"></i> Our
										Speciality</a></li>
								<!-- <li><a href="#footer"><i class="fa fa-phone"></i> contact</a></li> -->
							</ul>
						</div>
						<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
</nav>
</div>
</div>
<!-- .col-md-12 close -->
</div>
<!-- .row close -->
</div>
<!-- .container close -->
</nav>
<!-- header close -->

<!--
    about-us start
    ============================== -->
<section id="about-us">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<div class="col-xs-12 col-sm-6">
						<h1 class="heading wow fadeInUp" data-wow-duration="400ms"
							data-wow-delay="500ms">
							About <span>US</span>
						</h1>
						<p class="wow fadeInUp" data-wow-duration="300ms"
							data-wow-delay="600ms">
							It all started when three friends joined their dream IT firms.
							The story began with hard work, crazy deadlines and hungry
							nights. Take it from us, a brain rejects to work on an empty
							stomach. It was during one of these hungry nights that we came up
							with "YaraDaDhaba" . <br /> Frankly, we wanted to put an end to
							this. So we came up with a food joint that serves the best lip
							smacking dishes and snacks for your mid night cravings. We serve
							you by making the food you love
						</p>
					</div>
					<div class="hidden-xs col-sm-6 heading wow fadeInUp"
						data-wow-duration="400ms" data-wow-delay="500ms">
						<img src="images/paneer-tikka.jpg"
							style="width: 450px; height: 390px" />
					</div>
				</div>
			</div>
			<!-- .col-md-12 close -->
		</div>
		<!-- .row close -->
	</div>
	<!-- .containe close -->
</section>
<!-- #call-to-action close -->
<!--
    blog start
    ============================ -->
<section id="blog">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h1 class="heading">
						Our <span>Speciality</span>
					</h1>
					<ul>
						<li class="wow fadeInLeft" data-wow-duration="300ms"
							data-wow-delay="300ms">
							<div class="blog-img">
								<img src="images/blog/blog-img-1.jpg" alt="blog-img">
							</div>
							<div class="content-right">
								<h3>Homestyle Chicken Pot Pie</h3>
								<p>Prepared in true New England fash-ion. Tender all-white
									meat chicken simmered...</p>
							</div>
						</li>
						<li class="wow fadeInLeft" data-wow-duration="300ms"
							data-wow-delay="400ms">
							<div class="blog-img">
								<img src="images/blog/blog-img-2.jpg" alt="blog-img">
							</div>
							<div class="content-right">
								<h3>Homestyle Chicken Pot Pie</h3>
								<p>Prepared in true New England fash-ion. Tender all-white
									meat chicken simmered...</p>
							</div>
						</li>
						<li class="wow fadeInLeft" data-wow-duration="300ms"
							data-wow-delay="500ms">
							<div class="content-left">
								<h3>Homestyle Chicken Pot Pie</h3>
								<p>Prepared in true New England fash-ion. Tender all-white
									meat chicken simmered...</p>
							</div>
							<div class="blog-img-2">
								<img src="images/blog/blog-img-3.jpg" alt="blog-img">
							</div>
						</li>
						<li class="wow fadeInLeft" data-wow-duration="300ms"
							data-wow-delay="600ms">
							<div class="content-left">
								<h3>Homestyle Chicken Pot Pie</h3>
								<p>Prepared in true New England fash-ion. Tender all-white
									meat chicken simmered...</p>
							</div>
							<div class="blog-img-2">
								<img src="images/blog/blog-img-4.jpg" alt="blog-img">
							</div>
						</li>
						<li class="wow fadeInLeft" data-wow-duration="300ms"
							data-wow-delay="700ms">
							<div class="blog-img">
								<img src="images/blog/blog-img-5.jpg" alt="blog-img">
							</div>
							<div class="content-right">
								<h3>Homestyle Chicken Pot Pie</h3>
								<p>Prepared in true New England fash-ion. Tender all-white
									meat chicken simmered...</p>
							</div>
						</li>
						<li class="wow fadeInUp" data-wow-duration="300ms"
							data-wow-delay="800ms">
							<div class="blog-img">
								<img src="images/blog/blog-img-6.jpg" alt="blog-img">
							</div>
							<div class="content-right">
								<h3>Homestyle Chicken Pot Pie</h3>
								<p>Prepared in true New England fash-ion. Tender all-white
									meat chicken simmered...</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- .col-md-12 close -->
		</div>
		<!-- .row close -->
	</div>
	<!-- .containe close -->
</section>
<!-- #blog close -->